@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azul  Bouzid</h1>
    <p>Entrainement pour le poste obtenu: Programmeur Technicien au Centre de Services Scolaire des Draveurs (CSSD).</p>
    <h3>DevExpress</h3>
</div>
